* {
    margin:0;
    padding:0;
}
rt {
    font-size: 0.5rem;
    margin-bottom: 0.2rem;
}
body, h1, h2, article, p, time {
    margin: 1rem 1rem 1rem 1rem;
}
article {
    border: solid 1px cornflowerblue;
}